<style type="text/css">
    header {
        background: paleturquoise;
        height: 100px;
        overflow: hidden;
    }
    header img,header a{
        float: left;
        margin-left: 20px;
    }
    header img{
        width: 80px;
        height: 80px;
        margin-top: 10px;
    }
    header a {
        display: inline-block;
        line-height: 100px;
        color: #fff;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
</style>
<header>
    <img src="/images/logo.png" alt="">
    <a>Welcome to Personal Website of Zhang Xiaojun</a>
</header>